name: Create Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub APP Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.CI_APP_ID }}
          private-key: ${{ secrets.CI_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: provider-sdk-ts

      - name: Checkout
        uses: actions/checkout@v4
        with:
          show-progress: false
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Build
        run: |
          npm i
          npm run build

      - name: Bump version
        run: npm version patch --git-tag-version false

      - name: Get version
        id: version
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          tag_name: v${{ steps.version.outputs.version }}
          tagging_message: 'Release ${{ steps.version.outputs.version }}'

      - name: Create a Release
        uses: elgohr/Github-Release-Action@v5
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          title: Release ${{ steps.version.outputs.version }}
          tag: v${{ steps.version.outputs.version }}
